/*
  Global Classes
  */

body {
  background-image: url("images/neutral_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  font-family: serif;
}

input {
  text-align: center;
}

.next-button {
  margin-top: 51px;
  margin-bottom: 52px;
  text-align: center;
}

.proceed {
  width: 200px;
  height: 100px;
}

#screen {
  box-sizing: content-box;
}

.screen-header {
  color: white;
  text-align: center;
  text-shadow: 1px 1px #000000;
  background-color: rgba(115, 8, 131, 0.5);
  font-size: 25px;
}

.screen-text {
  color: ff0000;
}

.back-button {
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  float: left;
}

.icon-image {
  object-fit: scale-down;
  height: 20px;
  width: 20px;
  padding-right: 100px;
}

.socialmedia_icon-image {
  object-fit: scale-down;
  height: 25px;
  width: 25px;
}

.arrow-image {
  object-fit: scale-down;
  height: 25px;
  width: 25px;
  padding-left: 80px;
}

.wrapper {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: -10%;
  /* still need:
  a way to make the grid expand with the screen, but have a limit
  a way to put it in the middle of the screen, regardless of screen
  a way to resize the image without it bursting out of the grid
  */
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
  background-color: rgba(50, 44, 231, 0.7);
  padding: 10px;
}

.wrapper > div {
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  font-size-adjust: auto;
}

#box1 {
  background-color: rgba(255, 0, 0, 0.8);
  grid-column-start: 1;
  grid-column-end: 6;
}

#box3 {
  grid-column-start: 2;
  grid-column-end: 5;
  height: 25%;
}


.icon-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  background-color: clear;
  margin-right: 60px;
}

.icon-wrapper > div {
  text-align: center;
  font-size: 20px;
}

.option-text {
  font-family:serif;
  color: white;
  text-shadow: 1px 1px #000000;
}

.addTo_text {
  font-family: sans-serif;
  font-style: italic;
  color: white;
  text-shadow: 1px 1px #000000;
}

.date {
  font-weight: bold;
}

/* Confirm Your Information Classes */
.standard-text {
  color: white;
  font: serif;
}

.left-float-everything {
  float: left;
  background-color: rgba(215, 44, 44, 0.5);
}

.right-float-everything {
  float: right;
  background-color: rgba(50, 69, 145, 0.6);
}

.section-header {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  text-decoration: underline;
}

.left-wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: auto auto auto auto auto;
  grid-gap: 10px;
  background-color: rgba(215, 44, 44, 0.5);
  padding: 10px;
}

.right-wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
  background-color: rgba(50, 69, 145, 0.5);
  padding: 10px;
}

.subsection-header {
  font-weight: bold;
  text-decoration: underline;
  color: white;
}

/* Left Side Attributes */

.DOB_wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: auto auto auto auto auto;
  background-color: rgba(215, 44, 44, 0.5);
}

.Date_Of_Birth_Subwrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto auto auto auto;
}

#DOB_Text {
  grid-column-start: 1;
  grid-column-end: 4;
}

.address_wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: auto auto auto auto auto;
  background-color: rgba(215, 44, 44, 0.5);
}

.location_subwrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto;
}

.same_as_subwrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto auto;
}

#sameAs_textBox {
  grid-column-start: 1;
  grid-column-end: 3;
}

.ID_wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: auto auto;
  background-color: rgba(215, 44, 44, 0.5);
}

/* Right Side */

.action-item {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto;
  background-color: rgba(50, 69, 145, 0.5);
}

#text-box {
  grid-column-start: 2;
  grid-column-end: 3;
  font-size: 15px;
  background-color: rgba(50, 69, 145, 0.5);
}

#icon-box {
  object-fit: scale-down;
  height: 25px;
  width: 25px;
}
